/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


:root {
  --primary-color: #08222F;
  --secondary-color: #ADE603;
  --black-color: #000000;
  --white-color: #FFFFFF;
}
